.metals/metals.log
.bsp\sbt.json
/.bloop
.bloop/**
.vscode\settings.json
.metals/**
insurance/target/**
.vscode/settings.json
insurance/project/target/**
.bsp/sbt.json
project/target/**
target/**
project/.bloop/**
project/project/**
target/streams/**
desktop.ini
folder.ico
insurance/.bloop
.DS_Store

